<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The community-managed Bus Simulator Wiki!">
    <meta name="keywords" content="bus simulator, bus simulator wiki">

    <title>Contributors - Bus Simulator Community Wiki</title>

    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

    <!-- SIDEBAR - DO NOT REMOVE -->
    <div id="sidebar" style="height: 100%; width: 250px; position: fixed; top: 0; left: 0; background-color: #100996; padding-top: 5px; color: white;">
        <script>
            fetch('/wiki/sidebar')
            .then(response => response.text())
            .then(html => {
                document.getElementById('sidebar').innerHTML = html
            })
            .catch(error => console.error('Error fetching HTML:', error));
        </script>
    </div>
    <!-- SIDEBAR - DO NOT REMOVE -->

    <div style="margin-left: 250px; padding: 15px; min-height: calc(100vh - 30px);">
        <div style="margin-bottom: 20px;">
            <text style="font-size: 30px;">Contributors</text><br>
            <text>Here's a full list of all current Contributors of the <text style="color: #eb4034;">Bus Simulator Community Wiki</text>!</text>
        </div>

        <div id="event-list">
            <div style="margin-bottom: 20px;">
                {% if contributors %}
                    {% for data in contributors %}
                    <div style="margin-bottom: 5px; display: grid; background-color: #070446; width: calc(100% - 10px); padding: 5px; grid-template-columns: 150px 1fr; gap: 10px; padding: 5px;"">
                        <img src="{{ data[0] }}" width="150" height="150" style="object-fit: cover;">
                        <div style="padding: 5px;">
                            <text style="font-size: 25px;">{{ data[1] }}</text><br>
                            <text>{{ data[2] }}</text><br><br>
                            <text>" {{ data[3] }} "</text>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>
