<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    {% if page %}
        <title>Bus Simulator: {{ page["title"] }}</title>
        <meta name="description" content="{{ page["description"] }}">

        <meta property="og:url" content="">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Bus Simulator: {{ page["title"] }}">
        <meta property="og:description" content="{{ page["description"] }}">
        <meta property="og:image" content="{{ html['header']['imageBanner'] }}">

        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="wiki.wolfdo.gg">
        <meta property="twitter:url" content="">
        <meta name="twitter:title" content="Bus Simulator: {{ page["title"] }}">
        <meta name="twitter:description" content="{{ page["description"] }}">
        <meta name="twitter:image" content="{{ html['header']['imageBanner'] }}">
        
        <meta name="keywords" content="{{ page['keywords'] }}">

        <link rel="icon" href="/bussim-assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/bussim-assets/style.css">

        <script>
            var currentPath = window.location.pathname;
    
            var ogUrlMetaTag = document.querySelector('meta[property="og:url"]');
            if (ogUrlMetaTag) {
                ogUrlMetaTag.setAttribute('content', currentPath);
            }
    
            var twitterUrlMetaTag = document.querySelector('meta[name="twitter:url"]');
            if (twitterUrlMetaTag) {
                twitterUrlMetaTag.setAttribute('content', currentPath);
            }
        </script>
    {% endif %}
        
    <link rel="stylesheet" href="/bussim-assets/dialogue.css">
        
    <audio id="soundSource" controls autoplay style="display: none;">
        <source type="audio/mp3">
    </audio>
</head>
<body>
    <div id="sidebar" class="sidebar" style="z-index: 999;">
        <div id="mainMenu" class="sidebarMenu" style="display: block;">
            <button onclick="location.href='/bussim/'">
                <img src="/assets/home.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                <text type="hoverText">Home</text>
            </button>
        
            <button onclick="navigateMenu('wikiPages')">
                <img src="/assets/books.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                <text type="hoverText">Wiki</text>
            </button>
        
            <button onclick="navigateMenu('otherStuff')">
                <img src="/assets/others.png" style="rotate: 90deg; user-select: none; margin-left: 7px;" width="24" height="auto">
                <text type="hoverText">Other Stuff</text>
            </button>
        </div>
        
        <div id="wikiPages" class="sidebarMenu" style="display: none;">
            <button onclick="navigateMenu('mainMenu')" type="menuBack">
                <img src="/assets/back.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                <text type="hoverText">Back to Menu</text>
            </button>
        
            <button onclick="location.href='/bussim/events'">
                <text style="margin-top: 3px; margin-left: 13px; font-size: 17px;">?</text>
                <text type="hoverText">Events</text>
            </button>
        
            <button onclick="location.href='/bussim/biomes'">
                <text style="margin-top: 3px; margin-left: 13px; font-size: 17px;">?</text>
                <text type="hoverText">Biomes</text>
            </button>
        
            <button onclick="location.href='/bussim/items'">
                <text style="margin-top: 3px; margin-left: 13px; font-size: 17px;">?</text>
                <text type="hoverText">Items</text>
            </button>
        
            <button onclick="location.href='/bussim/locations'">
                <text style="margin-top: 3px; margin-left: 13px; font-size: 17px;">?</text>
                <text type="hoverText">Locations</text>
            </button>
        
            <button onclick="location.href='/bussim/npcs'">
                <text style="margin-top: 3px; margin-left: 13px; font-size: 17px;">?</text>
                <text type="hoverText">NPCs</text>
            </button>
        
            <button onclick="location.href='/bussim/others'">
                <text style="margin-top: 3px; margin-left: 13px; font-size: 17px;">?</text>
                <text type="hoverText">Others</text>
            </button>
        </div>
        
        <div id="otherStuff" class="sidebarMenu" style="display: none;">
            <button onclick="navigateMenu('mainMenu')" type="menuBack">
                <img src="/assets/back.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                <text type="hoverText">Back to Menu</text>
            </button>
        
            <button onclick="location.href='/bussim/contributors'">
                <img src="/assets/contributors.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                <text type="hoverText">Contributors</text>
            </button>
        
            <button onclick="window.open('https://github.com/FrostBitten-Wiki/bussim', '_blank')">
                <img src="/assets/github.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                <text type="hoverText">Wiki Repository</text>
            </button>
        </div>
        
        <bottomButtons>
            <button onclick="randomDialogueEvent(true)">
                <img src="/assets/books.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                <text type="hoverText">Force Dialogue</text>
            </button>
        
            <button onclick="window.open('https://discord.gg/frostbitegames', '_blank')">
                <img src="/assets/discord.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                <text type="hoverText">FrostBitten Games</text>
            </button>
        
            <button onclick="window.open('https://discord.gg/pNnMKKg', '_blank')">
                <img src="/assets/discord.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                <text type="hoverText">Bus Simulator Discord</text>
            </button>
        </bottomButtons>
        
        <script>
            var activeMenu = "mainMenu";

            function navigateMenu(menuId) {
                var menus = document.querySelectorAll('.sidebarMenu');
                menus.forEach(function(menu) {
                    menu.style.display = 'none';
                });
            
                var selectedMenu = document.getElementById(menuId);
                if (selectedMenu) {
                    selectedMenu.style.display = 'block';
                    activeMenu = menuId;
                }
            }

            navigateMenu(activeMenu);
        </script>
    </div>

    <div>
    </div>
    
    {% if html %}
    <div style="margin-left: 60px; min-height: 100vh; overflow-y: auto;">
        <img src="{{ html['header']['imageBanner'] }}" width="100%" height="250" style="object-fit: cover; user-select: none;">
        <div style="position: absolute; top: 0; height: 250px; width: calc(100vw - 60px); background: linear-gradient(to bottom, transparent 0%, rgba(8, 4, 83, 1) 75%); z-index: 1;"></div>
        
        <div style="position: absolute; top: 50px; height: 100%; z-index: 2;">
            <div style="transition: margin 500ms; margin-left: 10vw; margin-right: 10vw; width: calc(80vw - 60px);">
                {% if html['header']['image'] == "" %}
                    <div style="z-index: 2;">
                        <text style="font-size: 50px;">{{ html["header"]["title"] }}</text><br>
                        <text style="font-size: 17px;">{{ html["header"]["description"] }}</text><br><br>
                    </div>
                {% elif html['header']['image'] != "" %}
                    <div style="z-index: 2; display: grid; grid-template-columns: 66px 1fr; gap: 10px;">
                        <img src="{{ html['header']['image'] }}" width="66" height="auto">
                        <div>
                            <text style="font-size: 50px;">{{ html["header"]["title"] }}</text><br>
                            <text style="font-size: 17px;">{{ html["header"]["description"] }}</text><br><br>
                        </div>
                    </div>
                {% endif %}
            </div>
            
            <div style="transition: margin 500ms; margin-left: 10vw; margin-right: 10vw; width: calc(80vw - 60px);">
                <!-- Custom Jinja2 Functions -->
                {% macro render_tree(node) %}
                    {% if node %}
                        <ul>
                            {% for item in node %}
                                <li>
                                    {{ item["name"] }}
                                    {{ render_tree(item["children"]) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endmacro %}
    
                {% for data in html['pageContent'] %}
                    {% if data['type'] == "text" %}
                        <text>{{ data['content']['text'] }}</text>
                    {% elif data['type'] == "section" %}
                        <div style="margin-top: 20px; margin-bottom: 35px;">
                            <text style="font-size: 25px;">{{ data['content']['sectionTitle'] }}</text><br>
                            <text>{{ data['content']['sectionDescription'] }}</text>
                        </div>
                    {% elif data['type'] == "list" %}
                        <div style="margin-top: 20; margin-bottom: 20px;">
                            {% for item in data['content']['items'] %}
                                {% if item['listItemRedirect'] == "" %}
                                    {% if item['listItemImage'] == "" %}
                                        <div class="container" style="padding: 10px;">
                                            <text style="font-size: 25px;">{{ item['listItemTitle'] }}</text><br>
                                            <text>{{ item['listItemDescription'] }}</text>
                                        </div>
                                    {% elif item['listItemImage'] != ""%}
                                        <div class="container" style="padding: 10px; display: grid; grid-template-columns: 128px 1fr; gap: 10px;">
                                            <img src="{{ item['listItemImage'] }}" height="128" width="128" style="object-fit: cover;" loading="lazy">
    
                                            <div>
                                                <text style="font-size: 25px;">{{ item['listItemTitle'] }}</text><br>
                                                <text>{{ item['listItemDescription'] }}</text>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% elif item['listItemRedirect'] != "" %}
                                    {% if item['listItemImage'] == "" %}
                                        <div class="container" style="padding: 10px; cursor: pointer;" onclick="location.href=`{{ item['listItemRedirect'] }}`">
                                            <text style="font-size: 25px;">{{ item['listItemTitle'] }}</text><br>
                                            <text>{{ item['listItemDescription'] }}</text>
                                        </div>
                                    {% elif item['listItemImage'] != ""%}
                                        <div class="container" style="padding: 10px; cursor: pointer; display: grid; grid-template-columns: 128px 1fr; gap: 10px;" onclick="location.href=`{{ item['listItemRedirect'] }}`">
                                            <img src="{{ item['listItemImage'] }}" height="128" width="128" style="object-fit: cover;" loading="lazy">
    
                                            <div>
                                                <text style="font-size: 25px;">{{ item['listItemTitle'] }}</text><br>
                                                <text>{{ item['listItemDescription'] }}</text>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% elif data['type'] == "infobox" %}
                        <div class="container" style="padding: 10px;">
                            <text style="color: {{ data["content"]["infoBoxTitle"][1] }}; font-size: 25px;">{{ data["content"]["infoBoxTitle"][0] }}</text><br>
                            <text>{{ data["content"]["infoBoxDescription"]}}</text>
                        </div>
                    {% elif data['type'] == "tree" %}
                        <div style="margin-top: 20px; margin-bottom: 35px;">
                            {{ render_tree(data['content']) }}
                        </div>
                    {% elif data['type'] == "quote" %}
                        <div style="margin-top: 20px; margin-bottom: 35px;">
                            <div style="display: grid; grid-template-columns: 0.05fr 1fr 0.05fr;">
                                <text style="font-size: 50px;">"</text>
                                <text style="text-align: center;">{{ data["content"]["quote"] }}</text>
                                <text style="font-size: 50px; text-align: right;">"</text>
                            </div><br>
                            <text>- {{ data["content"]["author"] }}</text>
                        </div>
                    {% elif data['type'] == "table" %}
                        <div style="margin-top: 20px; margin-bottom: 35px;">
                            {% set spacing = data["content"]["columnSpacing"].split() %}
                            {% set columns = spacing|length %}
                            {% set columnWidth = data["content"]["widthSize"] / columns %}
                                                
                            <div class="container" style="padding: 10px; display: flex; flex-wrap: wrap; justify-content: space-between;">
                                {% for title in data["content"]["titles"] %}
                                    <div style="flex: 0 0 calc({{ columnWidth }}% - 20px); max-width: calc({{ columnWidth }}% - 20px);">
                                        <text>{{ title }}</text>
                                    </div>
                                {% endfor %}
                            </div>
                        
                            {% for items in data["content"]["items"] %}
                                <div class="container" style="padding: 10px; display: flex; flex-wrap: wrap; justify-content: space-between;">
                                    {% for value in items %}
                                        <div style="flex: 0 0 calc({{ columnWidth }}% - 20px); max-width: calc({{ columnWidth }}% - 20px);">
                                            {% if (".webp" in value) or (".jpg" in value) or (".png" in value) or (".gif" in value) or ("placehold.co" in value) %}
                                                <img src="{{ value }}" width="{{ data["content"]["imageSize"].split()[0] }}" height="{{ data["content"]["imageSize"].split()[1] }}" style="object-fit: cover;" loading="lazy">
                                            {% else %}
                                                <text style="text-wrap: wrap;">{{ value }}</text>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% elif data['type'] == "gallery" %}
                        <text style="font-size: 25px;">Gallery</text>
                        <div class="gallery-container" style="margin-bottom: 20px;">

                            <div class="gallery" style="padding: 10px;">
                                {% for image in data["content"]["images"] %}
                                    <img src="{{ image }}" style="cursor: pointer;" onclick="location.href='{{ image }}'" alt="Open Image" loading="lazy">
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                
                {% if attributions != [] %}
                <div style="margin-top: 10px; margin-bottom: 20px;">
                    {% for attr in attributions %}
                        <text style="font-size: 10px;">{{ attr }}</text><br>
                    {% endfor %}
                </div>
                {% endif %}
                
                <br>
            </div>
        </div>

    </div>
    {% endif %}

    <div id="speakerPopup" class="checkBg" style="transition: bottom 1s; user-select: none; --color1: #6d6d6d; --color2: #9d9d9d; --color3: white; position: fixed; bottom: -165px; right: 10px; width: 550px; height: 110px; gap: 10px; z-index: 999;">
        <text id="speakerId" style="position: absolute; top: -15px; left: 0; font-size: 10px; opacity: 0.3;"></text>
        <div id="" style="display: grid; grid-template-columns: 1fr 150px;">
            <div style="padding: 10px;">
                <text id="speakerName" style="font-size: 23px;"></text><br>
                <text id="speakerText"></text>
            </div>

            <div id="speakerImage" class="dialogue" style="object-fit: cover; transform: scale(37.1%, 37.1%); -moz-transform: scale(37.1%, 37.1%);  position: absolute; bottom: -123px; right: -140px;"></div>
        </div>
    </div>

    <script src="/bussim-assets/scripts/dialogueSystem.js" defer></script>
</body>
</html>
