<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        {% if page %}
            <title>Bus Simulator: {{ page["title"] }}</title>
            <meta name="description" content="{{ page["description"] }}">

            <meta property="og:url" content="">
            <meta property="og:type" content="website">
            <meta property="og:title" content="Bus Simulator: {{ page["title"] }}">
            <meta property="og:description" content="{{ page["description"] }}">
            <meta property="og:image" content="{{ html['header']['imageBanner'] }}">

            <meta name="twitter:card" content="summary_large_image">
            <meta property="twitter:domain" content="wiki.wolfdo.gg">
            <meta property="twitter:url" content="">
            <meta name="twitter:title" content="Bus Simulator: {{ page["title"] }}">
            <meta name="twitter:description" content="{{ page["description"] }}">
            <meta name="twitter:image" content="{{ html['header']['imageBanner'] }}">

            <meta name="keywords" content="{{ page['keywords'] }}">

            <link rel="icon" href="/bussim-assets/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="/bussim-assets/style.css">

            <script>
                var currentPath = window.location.pathname;
    
                var ogUrlMetaTag = document.querySelector('meta[property="og:url"]');
                if (ogUrlMetaTag) {
                    ogUrlMetaTag.setAttribute('content', currentPath);
                }
    
                var twitterUrlMetaTag = document.querySelector('meta[name="twitter:url"]');
                if (twitterUrlMetaTag) {
                    twitterUrlMetaTag.setAttribute('content', currentPath);
                }
            </script>
        {% endif %}

        <link rel="stylesheet" href="/bussim-assets/dialogue.css">
        
        <audio id="soundSource" controls autoplay style="display: none;">
            <source type="audio/mp3">
        </audio>
    </head>

    <body>
        <style>
            #searchScreen {
                position: fixed;
                height: 500px; width: 100vw;
                background: #10099680;
                backdrop-filter: blur(5px);

                transition: bottom 1s;
            }

            #results {
                height: 435px;
                overflow: auto;
                scrollbar-width: thin;
                scrollbar-color: transparent transparent;
            }

            #results::-webkit-scrollbar {
                width: 6px;
            }

            #results::-webkit-scrollbar-thumb {
                background-color: transparent;
            }
        </style>
        
        <div id="searchScreen" style="bottom: -100vh;">
            <div style="transition: margin 500ms; margin-top: 30px; margin-left: 10vw; margin-right: 10vw; box-sizing: border-box;">
                <text style="font-size: 35px;">Search Results</text>

                <div id="results">

                </div>
            </div>
        </div>

        <div style="background-color: #100996; position: fixed; bottom: 0; height: 55px; width: 100%; z-index: 5;">
            <div class="sidebar sidebarMenu" id="mainMenu" style="display: flex; position: absolute; top: 0; left: 0; flex-direction: row;">
                <button onclick="location.href='/bussim'">
                    <img src="/assets/home.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Home</text>
                </button>

                <button onclick="navigateMenu('wikiPages')">
                    <img src="/assets/books.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Wiki</text>
                </button>

                <button onclick="navigateMenu('otherStuff')">
                    <img src="/assets/others.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Other Stuff</text>
                </button>

                <input id="searchBar" placeholder="Search" onclick="document.getElementById('searchScreen').style.bottom = '55px'">

                <script>
                    document.addEventListener('click', function (event) {
                        const searchScreen = document.getElementById('searchScreen');
                        const searchBar = document.getElementById('searchBar');
                        const isSearchScreen = searchScreen.contains(event.target);
                        const isSearchBar = searchBar.contains(event.target);

                        if (!isSearchScreen && !isSearchBar) {
                            searchScreen.style.bottom = '-500px';
                        }
                    });
                    
                    let typingTimer;
                
                    document.getElementById('searchBar').addEventListener('input', function() {
                        clearTimeout(typingTimer);
                        typingTimer = setTimeout(doneTyping, 250);
                    });
                
                    function doneTyping() {
                        fetch(`https://wiki.wolfdo.gg/bussim-search/${document.getElementById('searchBar').value}`)
                        .then(response => {
                            if (!response.ok) {
                              throw new Error(`HTTP error! Status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            createElements(data);
                        })
                        .catch(error => {
                            console.error('Fetch error:', error);
                        });
                    }

                    function createElements(data) {
                        const resultContainer = document.getElementById('results');
                        
                        resultContainer.innerHTML = '';
                        data.forEach(item => {
                            const element = document.createElement('div');
                            element.innerHTML = `
                            <div style="background-color: #16116d; padding: 5px; margin-bottom: 5px; cursor: pointer;" onclick="location.href='${item.path}'">
                                <text>${item.name}</text><br>
                                <text style="font-size: 10px;">${item.description}</text>
                            </div>
                            `;
                            resultContainer.appendChild(element);
                        });
                    }
                  </script>
            </div>

            <div class="sidebar sidebarMenu" id="wikiPages" style="display: none; position: absolute; top: 0; left: 0; flex-direction: row;">
                <button onclick="navigateMenu('mainMenu')" type="menuBack">
                    <img src="/assets/back.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Back to Menu</text>
                </button>
            
                <button onclick="location.href='/bussim/events'">
                    <img src="/bussim-assets/images/menuIcons/events.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Events</text>
                </button>
            
                <button onclick="location.href='/bussim/biomes'">
                    <img src="/bussim-assets/images/menuIcons/biomes.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Biomes</text>
                </button>
    
                <button onclick="location.href='/bussim/badges'">
                    <img src="/bussim-assets/images/menuIcons/badges.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Badges</text>
                </button>
            
                <button onclick="location.href='/bussim/items'">
                    <img src="/bussim-assets/images/menuIcons/items.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Items</text>
                </button>
            
                <button onclick="location.href='/bussim/locations'">
                    <img src="/bussim-assets/images/menuIcons/locations.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Locations</text>
                </button>
            
                <button onclick="location.href='/bussim/npcs'">
                    <img src="/bussim-assets/images/menuIcons/npcs.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">NPCs</text>
                </button>
            
                <button onclick="location.href='/bussim/others'">
                    <img src="/bussim-assets/images/menuIcons/others.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Others</text>
                </button>
            </div>
            
            <div class="sidebar sidebarMenu" id="otherStuff" style="display: none; position: absolute; top: 0; left: 0; flex-direction: row;">
                <button onclick="navigateMenu('mainMenu')" type="menuBack">
                    <img src="/assets/back.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Back to Menu</text>
                </button>
            
                <button onclick="location.href='/bussim/contributors'">
                    <img src="/assets/contributors.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Contributors</text>
                </button>
            
                <button onclick="window.open('https://github.com/FrostBitten-Wiki/bussim', '_blank')">
                    <img src="/assets/github.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Wiki Repository</text>
                </button>
            </div>

            <div class="sidebar" style="position: absolute; top: 0; right: 0; flex-direction: row-reverse;">
                <button onclick="randomDialogueEvent(true)">
                    <img src="/assets/books.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Force Dialogue</text>
                </button>
            
                <button onclick="window.open('https://discord.gg/frostbitegames', '_blank')">
                    <img src="/assets/discord.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">FrostBitten Games</text>
                </button>
            
                <button onclick="window.open('https://discord.gg/pNnMKKg', '_blank')">
                    <img src="/assets/discord.png" style="user-select: none; margin-left: 7px;" width="24" height="auto">
                    <text type="hoverText">Bus Simulator Discord</text>
                </button>
            </div>

            <script>
                var activeMenu = "mainMenu";

                function navigateMenu(menuId) {
                    var menus = document.querySelectorAll('.sidebarMenu');
                    menus.forEach(function(menu) {
                        menu.style.display = 'none';
                    });
                
                    var selectedMenu = document.getElementById(menuId);
                    if (selectedMenu) {
                        selectedMenu.style.display = 'flex';
                        activeMenu = menuId;
                    }
                }

                navigateMenu(activeMenu);
            </script>
        </div>

        {% if html %}
        <div style="width: 100%; z-index: 1;">
            <div style="position: absolute; top: 0; width: 100vw; z-index: -1;">
                <img src="{{ html['header']['imageBanner'] }}" width="100%" height="250" style="object-fit: cover; user-select: none;">
                <div style="position: absolute; top: 0; height: 250px; width: 100%; background: linear-gradient(to bottom, transparent 0%, rgba(8, 4, 83, 1) 75%);"></div>
            </div>

            <div style="transition: margin 500ms; margin-top: 50px; margin-left: 10vw; margin-right: 10vw;">
                <div style="width: 80vw;">
                    {% if html['header']['image'] == "" %}
                        <div style="z-index: 2;">
                            <text style="font-size: 50px;">{{ html["header"]["title"] }}</text><br>
                            <text style="font-size: 17px;">{{ html["header"]["description"] }}</text><br><br>
                        </div>
                    {% elif html['header']['image'] != "" %}
                        <div style="z-index: 2; display: grid; grid-template-columns: 66px 1fr; gap: 10px;">
                            <img src="{{ html['header']['image'] }}" width="66" height="auto">
                            <div>
                                <text style="font-size: 50px;">{{ html["header"]["title"] }}</text><br>
                                <text style="font-size: 17px;">{{ html["header"]["description"] }}</text><br><br>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div style="width: 80vw;">
                    <!-- Custom Jinja2 Functions -->
                    {% macro render_tree(node) %}
                        {% if node %}
                            <ul>
                                {% for item in node %}
                                    <li>
                                        {{ item["name"] }}
                                        {{ render_tree(item["children"]) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endmacro %}
        
                    {% for data in html['pageContent'] %}
                        {% if data['type'] == "text" %}
                            <text>{{ data['content']['text'] }}</text>
                        {% elif data['type'] == "section" %}
                            {% set size = data["content"]["size"] | default("normal") %}
                            {% if size == "large" %}
                                <div style="margin-top: 20px; margin-bottom: 35px;" id="{{ data['content']['title'] | lower | replace(' ', '-') }}">
                                    <text style="font-size: 25px;">{{ data['content']['title'] }}</text>
                                    <div style="width: 100%; height: 1px; background-color: white; margin-top: 2px; margin-bottom: 5px; box-shadow: 0 2px 0 #000000;"></div>
                                    <text>{{ data['content']['description'] }}</text>
                                </div>
                            {% elif size == "normal" %}
                                <div style="margin-top: 20px; margin-bottom: 35px;" id="{{ data['content']['title'] | lower | replace(' ', '-') }}">
                                    <text style="font-size: 25px;">{{ data['content']['title'] }}</text>
                                    <div style="width: 100%; height: 1px; background-color: white; margin-top: 2px; margin-bottom: 5px; box-shadow: 0 2px 0 #000000;"></div>
                                    <text>{{ data['content']['description'] }}</text>
                                </div>
                            {% elif size == "small" %}
                                <div style="margin-top: 20px; margin-bottom: 35px;" id="{{ data['content']['title'] | lower | replace(' ', '-') }}">
                                    <text style="font-size: 25px;">{{ data['content']['title'] }}</text>
                                    <text>{{ data['content']['description'] }}</text>
                                </div>
                            {% endif %}
                        {% elif data['type'] == "separator" %}
                            <div style="width: 100%; height: 1px; background-color: white; margin-top: 15px; margin-bottom: 15px; box-shadow: 0 2px 0 #000000;"></div>
                        {% elif data['type'] == "list" %}
                            <div style="margin-top: 20; margin-bottom: 20px;">
                                {% for item in data['content']['items'] %}
                                    {% if item['listItemRedirect'] == "" %}
                                        {% if item['listItemImage'] == "" %}
                                            <div class="container" style="padding: 10px;">
                                                <text style="font-size: 25px;">{{ item['listItemTitle'] }}</text><br>
                                                <text>{{ item['listItemDescription'] }}</text>
                                            </div>
                                        {% elif item['listItemImage'] != ""%}
                                            <div class="container" style="padding: 10px; display: grid; grid-template-columns: 128px 1fr; gap: 10px;">
                                                <img src="{{ item['listItemImage'] }}" height="128" width="128" style="object-fit: cover;" loading="lazy">
        
                                                <div>
                                                    <text style="font-size: 25px;">{{ item['listItemTitle'] }}</text><br>
                                                    <text>{{ item['listItemDescription'] }}</text>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% elif item['listItemRedirect'] != "" %}
                                        {% if item['listItemImage'] == "" %}
                                            <div class="container" style="padding: 10px; cursor: pointer;" onclick="location.href=`{{ item['listItemRedirect'] }}`">
                                                <text style="font-size: 25px;">{{ item['listItemTitle'] }}</text><br>
                                                <text>{{ item['listItemDescription'] }}</text>
                                            </div>
                                        {% elif item['listItemImage'] != ""%}
                                            <div class="container" style="padding: 10px; cursor: pointer; display: grid; grid-template-columns: 128px 1fr; gap: 10px;" onclick="location.href=`{{ item['listItemRedirect'] }}`">
                                                <img src="{{ item['listItemImage'] }}" height="128" width="128" style="object-fit: cover;" loading="lazy">
        
                                                <div>
                                                    <text style="font-size: 25px;">{{ item['listItemTitle'] }}</text><br>
                                                    <text>{{ item['listItemDescription'] }}</text>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% elif data['type'] == "infobox" %}
                            <div class="container" style="padding: 10px;">
                                <text style="color: {{ data["content"]["infoBoxTitle"][1] }}; font-size: 25px;">{{ data["content"]["infoBoxTitle"][0] }}</text><br>
                                <text>{{ data["content"]["infoBoxDescription"]}}</text>
                            </div>
                        {% elif data['type'] == "tree" %}
                            <div style="margin-top: 20px; margin-bottom: 35px;">
                                {{ render_tree(data['content']) }}
                            </div>
                        {% elif data['type'] == "quote" %}
                            <div style="margin-top: 20px; margin-bottom: 35px;">
                                <div style="display: grid; grid-template-columns: 0.05fr 1fr 0.05fr;">
                                    <text style="font-size: 50px;">"</text>
                                    <text style="text-align: center;">{{ data["content"]["quote"] }}</text>
                                    <text style="font-size: 50px; text-align: right;">"</text>
                                </div><br>
                                <text>- {{ data["content"]["author"] }}</text>
                            </div>
                        {% elif data['type'] == "table" %}
                            <div style="margin-top: 20px; margin-bottom: 35px;">
                                {% set spacing = data["content"]["titles"] %}
                                {% set columns = spacing|length %}
                                {% set columnWidth = data["content"]["widthSize"] / columns %}
                                                    
                                <div class="container" style="padding: 10px; display: flex; gap: 10px 10px; flex-wrap: wrap; justify-content: space-between;">
                                    {% for title in data["content"]["titles"] %}
                                        <div style="flex: 0 0 calc({{ columnWidth }}% - 5px); max-width: calc({{ columnWidth }}% - 20px);">
                                            <text>{{ title }}</text>
                                        </div>
                                    {% endfor %}
                                </div>
                            
                                {% for items in data["content"]["items"] %}
                                    <div class="container" style="padding: 10px; display: flex; gap: 10px 10px; flex-wrap: wrap; justify-content: space-between;">
                                        {% for value in items %}
                                            <div style="flex: 0 0 calc({{ columnWidth }}% - 5px); max-width: calc({{ columnWidth }}% - 20px);">
                                                {% if (".webp" in value) or (".jpg" in value) or (".png" in value) or (".gif" in value) or ("placehold.co" in value) %}
                                                    <img src="{{ value }}" width="{{ data["content"]["imageSize"].split()[0] }}" height="{{ data["content"]["imageSize"].split()[1] }}" style="object-fit: cover;" loading="lazy">
                                                {% else %}
                                                    <text style="text-wrap: wrap;">{{ value }}</text>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% elif data['type'] == "gallery" %}
                            <text style="font-size: 25px;" id="gallery">Gallery</text>
                            <div class="gallery-container" style="margin-bottom: 20px;">
    
                                <div class="gallery" style="padding: 10px;">
                                    {% for image in data["content"]["images"] %}
                                        <img src="{{ image }}" style="cursor: pointer;" onclick="location.href='{{ image }}'" alt="Open Image" loading="lazy">
                                    {% endfor %}
                                </div>
                            </div>
                        {% elif data['type'] == "buttons" %}
                            {%- set ns = namespace(uuid = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx') %}
                            {%- set ns.new_uuid = '' %}
                            {%- for x in ns.uuid %}
                                {%- set ns.new_uuid = [ns.new_uuid,(x | replace('x', [0,1,2,3,4,5,6,7,8,9,'a','b','c','d','e','f', 'h'] | random ))] | join %}
                            {%- endfor %}

                            <div>
                                <div class="sidebar" style="padding: 0;">
                                    {% for data in data["content"]["buttons"] %}
                                    <button onclick="location.href=`{{ data[2] }}`">
                                        <text style="margin-top: 3px; margin-left: 13px; font-size: 17px;">{{ data[0] }}</text>
                                        <text type="hoverText">{{ data[1] }}</text>
                                    </button>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <script>
                        switchTab()
                    </script>
                    
                    {% if attributions != [] %}
                    <div style="margin-top: 10px; margin-bottom: 20px;">
                        {% for attr in attributions %}
                            <text style="font-size: 10px;">{{ attr }}</text><br>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <br><br><br>
                </div>
                
            </div>
        </div>
        {% endif %}

        <div id="speakerPopup" class="checkBg" style="transition: bottom 1s; user-select: none; --color1: #6d6d6d; --color2: #9d9d9d; --color3: white; position: fixed; bottom: -165px; right: 10px; width: 550px; height: 110px; gap: 10px;">
            <text id="speakerId" style="position: absolute; top: -15px; left: 0; font-size: 10px; opacity: 0.3;"></text>
            <div id="" style="display: grid; grid-template-columns: 1fr 150px;">
                <div style="padding: 10px;">
                    <text id="speakerName" style="font-size: 23px;"></text><br>
                    <text id="speakerText"></text>
                </div>

                <div id="speakerImage" class="dialogue" style="object-fit: cover; transform: scale(37.1%, 37.1%); -moz-transform: scale(37.1%, 37.1%);  position: absolute; bottom: -123px; right: -140px;"></div>
            </div>
        </div>
        
        <script>
            if (typeof document.hidden !== "undefined") {
                var hidden = "hidden";
                var visibilityChange = "visibilitychange";
            } else if (typeof document.msHidden !== "undefined") {
                var hidden = "msHidden";
                var visibilityChange = "msvisibilitychange";
            } else if (typeof document.webkitHidden !== "undefined") {
                var hidden = "webkitHidden";
                var visibilityChange = "webkitvisibilitychange";
            }
        
            function dialogueHandler() {
                if (document[hidden]) {
                    dialogueRunning = true;
                    console.log("The DialogueSystem is now being prevented to start any dialogues.")
                } else {
                    dialogueRunning = false;
                    console.log("The DialogueSystem Script is now Active.")
                }
            }
        
            document.addEventListener(visibilityChange, dialogueHandler, false);
        </script>

        <script src="/bussim-assets/scripts/dialogueSystem.js" defer></script>
    </body>
</html>