<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The community-managed Bus Simulator Wiki!">
    <meta name="keywords" content="roblox bus simulator, roblox bus simulator wiki">

    <title>NPCs - Bus Simulator Community Wiki</title>

    <link rel="icon" href="/bussim-assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/bussim-assets/style.css">
</head>
<body>
    <div id="sidebar" class="sidebar">
        <script>
            var activeMenu = "mainMenu";

            function navigateMenu(menuId) {
                var menus = document.querySelectorAll('.sidebarMenu');
                menus.forEach(function(menu) {
                    menu.style.display = 'none';
                });
            
                var selectedMenu = document.getElementById(menuId);
                if (selectedMenu) {
                    selectedMenu.style.display = 'block';
                    activeMenu = menuId;
                }
            }

            navigateMenu(activeMenu);
        </script>
        
        <script id="sidebarLoader">
            fetch('/bussim/sidebar')
            .then(response => response.text())
            .then(html => {
                document.getElementById('sidebar').innerHTML = html;
            })
            .catch(error => console.error('Error fetching HTML:', error));
        </script>
    </div>

    <div style="margin-left: 60px; padding: 15px; min-height: calc(100vh - 30px);">
        <div style="margin-bottom: 20px;">
            <text style="font-size: 30px;">NPCs</text><br>
            <text>There are a small handful of NPCs in Bus Simulator that you can interact with, most of them being seen in <a>events</a>. Majority of the NPCs can be interacted with, and have small conversations with them, while others have a small quest behind them, for an item in return.</text><br><br>
            <text>Majority of the NPCs can get annoyed if you spam the <a>Airhorn</a> around them, and some will even threaten you if you don't stop annoying them. All of the NPCs also has a chance of appearing in events like <a>Passengers</a> and <a>No Dough</a>.</text>
        </div>
        
        <div id="npcs-list">
            <div style="margin-bottom: 20px;">
                {% if npcsList %}
                    {% for data in npcsList %}
                    <div class="container" onclick="location.href='/bussim/npcs/{{ data[2] }}'">
                        <img src="{{ data[0] }}" width="150" height="150" style="object-fit: cover;">
                        <div style="padding: 5px;">
                            <text style="font-size: 25px;">{{ data[1] }}</text><br><br>
                            <text>{{ data[3] }}</text>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <text style="font-size: 12px;">NPCs Description is copied from the Bus Simulator Wiki (Fandom).</text><br>
        <text style="font-size: 12px;">NPC icons Contributed by Unknown (please show up)</text><br>
    </div>
</body>
</html>
