@media only screen and (max-width: 777px) {
    #speakerPopup {
        max-width: calc(100% - 30px) !important;
    }

    #speakerText {
        overflow-y: auto !important;
        height: 55% !important;
        display: inline-block !important;
        scrollbar-color: transparent transparent;
    }

    #menuParent {
        justify-content: left !important;
    }
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #080454;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0em;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
}

@font-face {
    font-family: 'Starbound';
    src: url('/bussim-assets/fonts/Starbound.ttf');
}


text {
    font-family:'Starbound';
    color: white;
    word-spacing: 5px;
    text-shadow: 0 2px 0 #000000;
    font-display: swap;
}

.gallery-container {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
}

.gallery {
    display: flex;
}

.gallery img {
    width: 256px;
    height: auto;
    border: none;
    margin-right: 10px;
}

ul {
    font-family:'Starbound';
    color: white;
    word-spacing: 5px;
    text-shadow: 0 2px 0 #000000;
    list-style-type: none;
    margin: 10px 0;
    padding: 5px 0 5px 25px; /* Remove default padding */
}

li {
    font-family:'Starbound';
    color: white;
    word-spacing: 5px;
    text-shadow: 0 2px 0 #000000;
    list-style-type: none;
}

li.menu-item {
    margin:0 0 10px 0;   
}

li.menu-item:not(:last-child) { 
    margin-bottom: 5px;  
}

li::before {
    content: ">";
    margin-right: 5px;
}

highlight {
    color: #eb4034;
}

highlight[type="grey"] {
    color: #979797;
}

highlight[type="rainbow"] {
    background-image: repeating-linear-gradient(69deg, red, orange, yellow, green, blue, indigo, purple, red, orange);
    text-align: center;
    overflow: auto;
    background-size: 2048px 256px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 2s linear infinite;
    text-shadow: none;
    display: flex;
}

@keyframes rainbow { 
    0% {background-position: 0% 50%}
    100% {background-position: 100% 50%}
}

@keyframes floatUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
}

.tooltip {
    font-family:'Starbound';
    color: white;
    word-spacing: 5px;
    text-shadow: 0 2px 0 #000000;
    font-display: swap;

    font-size: 14px;
    max-width: 300px;

    user-select: none;
    pointer-events: none;

    position: absolute;
    top: 0;

    opacity: 0;
    background-color: #1a149c80;
    backdrop-filter: blur(3px);
    padding: 5px;
    z-index: 1;

    transition: opacity 500ms;
}

.tooltip-trigger {
    cursor: pointer;
}

.checkBg {
    background: conic-gradient(
        var(--color1) 90deg,
        var(--color2) 90deg 180deg,
        var(--color1) 180deg 270deg,
        var(--color2) 270deg
    );

    border: 5px solid var(--color3);

    background-repeat: repeat;
    background-size: 50px 50px;
    background-position: top left;
    background-color: gray;
    animation-name: slide;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 550px 550px;
    }
}

/* deprecated css
div.sidebar {
    /*height: calc(100% - 10px);
    width: 50px; position: fixed;
    top: 0;
    left: 0;
    background-color: #100996;
    padding: 5px;
    color: white;
}

div.sidebar button {
    font-family:'Starbound';
    background-color: #1a149c;
    backdrop-filter: blur(5px);

    width: 50px;
    height: 32px;
    border: none;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 5px;
}

div.sidebar button[type="menuBack"] {
    background-color: #eb4034;
}

div.sidebar button:hover[type="menuBack"] {
    background-color: #eb403480;
}

div.sidebar button:hover {
    width: 250px;
    cursor: pointer;
    color: white;
    background-color: #2c269a80;
}

div.sidebar button text[type="hoverText"] {
    opacity: 0;
    margin-top: 3px;
    transition: opacity 0.2s;
}

div.sidebar button:hover text[type="hoverText"] {
    opacity: 1;
}

div.sidebar bottomButtons {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
} */

.sidebar {
    padding: 10px;
    display: flex;
    gap: 0 10px;
}

.sidebar button {
    background-color: #1a149c;

    width: 50px;
    height: 35px;
    border: none;
    transition: 0.3s;
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 5px;
}

.sidebar button:hover[type="menuBack"] {
    background-color: #eb4034;
}

.sidebar button:hover {
    width: 175px;
    cursor: pointer;
    color: white;
    background-color: #2c269a;
}

.sidebar button text[type="hoverText"] {
    opacity: 0;
    margin-top: 3px;
    transition: opacity 0.2s;
}

.sidebar button:hover text[type="hoverText"] {
    opacity: 1;
}

input {
    width: 300px; height: calc(35px - 10px);
    font-family: 'Starbound';
    color: white;
    background-color: #1a149c;
    text-shadow: 0 2px 0 #000000;
    word-spacing: 5px;
    border: none;
    outline: none;
    padding: 5px;
    z-index: 5;
}

button {
    background-color: #1a149c;

    width: auto;
    height: 35px;
    border: none;
    transition: 0.3s;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5px;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #2c269a;
}

textarea:focus, input:focus{
    outline: none;
}

div.container {
    margin-bottom: 5px;
    background-color: #070446;
    width: calc(100% - 20px);
    padding: 5px;
    transition: 500ms;
}

a {
    font-family: 'Starbound';
    cursor: pointer;
    color: #eb4034;
    text-decoration: none;
}

a:visited {
    color: #eb4034;
}

a:hover {
    color: #c2352b;
}